<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}">



</header>

<div class="container mt-5">
    <h1 th:text="${title}"/>

    <p>Сайт с базой товаров Студента группы РИЗ-380028у Мишина ММ</p>

</div>

</body>

</body>
</html>