<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}">



</header>

<main>
    <h1 align="center" class="display-4">ООО "РОМАШКА"</h1><br>

        <h2 class="lead" align="center">Анализ продаж</h2><br><br>

    <div class="row align-items-md-stretch">

            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                    <h4>Сумма расходов на приобретение товаров</h4>
                    <div th:each="sumprihod : ${sumrash}">
                        <h1 th:text="${sumprihod} + ' руб.'"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h4>Сумма продаж</h4>
                    <div th:each="sumprodln : ${sumprod}">
                        <h1 th:text="${sumprodln} + ' руб.'"/>
                    </div>
                </div>
            </div>

    </div>

    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Артикул</th>
            <th scope="col">Номенклатура</th>
            <th scope="col">Приобретено</th>
            <th scope="col">Продано</th>
            <th scope="col">Остаток</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="ostatokln : ${ostatok}">
            <tr>
                <td th:text="${ostatokln[0]}"/>
                <td th:text="${ostatokln[1]}"/>
                <td th:text="${ostatokln[3]}"/>
                <td th:text="${ostatokln[4]}"/>
                <td th:text="${ostatokln[2]}"/>
            </tr>
        </div>
        </tbody>
    </table>

</main>

</body>

<div th:insert="~{blocks/footer :: footer}"></div>


</body>
</html>