<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container mt-5 mb-5">
  <h3>Редактирование </h3>
  <form method="post">
    <h5 th:text="(${nameorders})"/>
    <p th:text="'Номер заказа '"/><input type="text" th:value="${orders.id}" name="id" placeholder="Номер заказа" class="form-control"><br>
    <p th:text="'Артикул номенклатуры '"/><input type="text" th:value="${orders.id_product}" name="id_product" placeholder="Артикул номенклатуры" class="form-control"><br>
    <p th:text="'Количество '"/><input type="text" th:value="${orders.kol}" name="kol" placeholder="Количество" class="form-control"><br>
    <p th:text="'Цена '"/><input type="text" th:value="${orders.price}" name="price" placeholder="Цена" class="form-control"><br>
    <button type="submit" class="btn btn-primary my-2">Обновить</button>
  </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>