<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container mt-5 mb-5">
    <h3>Создание заказа клиента</h3>
    <form action="/orders/add" method="post">
        <p th:text="'Артикул номенклатуры'"/><select name="id_products" placeholder="Артикул номенклатуры" class="form-control">
            <div th:each="prodIdln : ${prodId}">
                <option value=${prodIdln}><p th:text="${prodIdln}"/></option>
            </div>
        </select>

        <p>              </p>
        <input type="text" name="kol" placeholder="Количество " class="form-control"><br>
        <input type="text" name="price" placeholder="Цена" class="form-control"><br>
        <button type="submit" class="btn btn-primary my-2">Добавить заказ</button>
    </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>


</body>
</html>