<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container">

    <div th:each="orderel : ${orders}">

        <div  class="h-50 p-5 text-white bg-dark rounded-3">
            <h5 th:text=" 'Заказ № ' + ${orderel.id}"/>
        </div>
        <div  class="p-5 mb-4 bg-light rounded-3">
            <p th:text="'Артикул товара '+${orderel.id_product}"/>
            <p th:text="'Количество '+${orderel.kol}"/>
            <p th:text="'Цена '+${orderel.price} + ' руб.'"/>
            <p th:text="'Сумма '+(${orderel.price}*${orderel.kol}) + ' руб.'"/>
            <div class="btn-group">
                <a th:href="'/orders/' + ${orderel.id} + '/edit'" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                <a th:action="'/orders/' + ${orderel.id} + '/remove'" method="post" type="button" class="btn btn-sm btn-outline-secondary">Удалить</a>
            </div>

        </div>

    </div>

    <a href="/orders/add" class="btn btn-primary my-2">Добавить заказ</a>

</div>

</div>


<div th:insert="~{blocks/footer :: footer}"></div>


</body>
</html>