<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container mt-5 mb-5">
    <h3>Редактирование </h3>
    <form method="post">
        <h5 th:text="(${nameproducts})"/>
        <p th:text="'Артикул '"/><input type="text" th:value="${products.id}" name="id" placeholder="Артикул" class="form-control"><br>
        <p th:text="'Описание '"/><input type="text" th:value="${products.description}" name="description" placeholder="Описание" class="form-control"><br>
        <button type="submit" class="btn btn-primary my-2">Обновить</button>
    </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>