<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container">
  <h3 th:text="(${nameproducts})"/>
  <p>Описание:</p>
  <p th:text="${description_products}"/>

  <div class="btn-group">
    <button th:href="'/products/' + ${id_products} + '/edit'" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</button>
    <button th:action="'/products/' + ${id_products} + '/remove'" method="post" type="button" class="btn btn-sm btn-outline-secondary">Удалить</button>
  </div>
</div>


<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>