<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container mt-5 mb-5">
  <h3>Добавление номенклатуры</h3>
  <form action="/products/add" method="post">
    <input type="text" name="name_products" placeholder="Название номенклатуры" class="form-control"><br>
    <input type="text" name="description" placeholder="Описание " class="form-control"><br>
    <button type="submit" class="btn btn-primary my-2">Добавить номенклатуру</button>
  </form>
</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>