<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<header th:insert="~{blocks/header :: header}">

</header>

<div class="container">

    <div th:each="productel : ${products}">

      <div  class="h-100 p-5 text-white bg-dark rounded-3">
        <h5 th:text="${productel.name_products} + ' (артикул: ' + ${productel.id} + ')'"/>
      </div>
      <div  class="p-5 mb-4 bg-light rounded-3">
        <p th:text="'Описание '+${productel.description}"/>
        <div class="btn-group">
          <a th:href="'/products/' + ${productel.id} + '/edit'" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
          <a th:action="'/products/' + ${productel.id} + '/remove'" method="post" type="button" class="btn btn-sm btn-outline-secondary">Удалить</a>
        </div>
      </div>

    </div>

  <a href="/products/add" class="btn btn-primary my-2">Добавить номенклатуру</a>

</div>

</div>

<div th:insert="~{blocks/footer :: footer}"></div>

</body>
</html>