<div th:fragmet="footer">

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">Курсовая работа, студента группы РИЗ-380028у, Мишиной Марины</span>
            </div>

        </footer>
</div>