<div th:fragmet="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <nav class="d-inline-flex mt-2 mt-md-0 mx-sm-auto">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/products">Номенклатура</a>
            <a class="p-2 text-dark" href="/orders">Заказы клиентов</a>
            <a class="p-2 text-dark" href="/prihod/add">Создать приобретение товара</a>
        </nav>
    </header>
</div>

